.demo {
    width: 100px;
    height: 100px;
    background-color: gray;
    display: inline-block;
    margin: 10px;
    transition: 500ms ease-in-out all;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.guac {
    background-color: greenyellow;
}

.blue {
    background-color: blue;
}